ul {
	position: relative;
	top: -87px;

}
ul li {
	list-style-type: none;
	float: left;
	padding: 0px 30px;
}
.welcome {
	text-align: center;
 color: #9dd223;

}
.wrap {
	margin-left:  20%;
}
.user_block .top {
	background-color: #e66665;
	height: 70px;
}
.user_block {
	width: 180px;
	height: 200px;
}

.user_block .bottom {
	background-color: #043850;
	height: 130px;
}

.user_block .image img{
	width: 70px;
	height: 70px;
	position: relative;
	border-radius: 100%;
	top: -160px;
	left: 55px;
}

.user_block .name {
	color: #64bbbf;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
}

.user_block .description {
	color: #03b10b;
	text-align: center;
}

.user_block .bottom .info .info_link{
	width: 90px;
	float: left;
	text-align: center;
	padding-top: 20px;
	color: #a5cade;
}

.group_image {

	width: 800px;
	height: 300px;
	 box-shadow: 0px 0px 15px 15px white;
}

body {
	background: #245661; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #245661 , #24828c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #245661 , #24828c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user_block .info a:visited {
	color: white;
}

.user_block .info a:link {
	color: white;
	text-decoration: none;
}

.user_block .info a:hover {
	text-decoration: underline;
}
