ul {
	position: relative;
	top: -87px;

}
ul li {
	list-style-type: none;
	float: left;
	padding: 0px 30px;
}
.welcome {
	text-align: center;
}
.wrap {
	margin-left:  20%;
}
.user_block .top {
	background-color: #e66665;
	height: 70px;
}
.user_block {
	width: 180px;
	height: 200px;
}

.user_block .bottom {
	background-color: #043850;
	height: 130px;
}

.user_block .image img{
	width: 100px;
	height: 70px;
	position: relative;
	top: -160px;
	left: 40px;
}

.user_block .name {
	color: #64bbbf;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
}

.user_block .description {
	color: #03b10b;
	text-align: center;
}

.user_block .bottom .info .info_link{
	width: 90px;
	float: left;
	text-align: center;
	padding-top: 20px;
	color: #a5cade;
}

.group_image {
	width: 800px;
	height: 300px;
}
